@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background-color:#f282a7;
	background-image:
	radial-gradient(at 42% 3%, #fadee1 0px, transparent 50%),
	radial-gradient(at 88% 9%, #fdafab 0px, transparent 50%),
	radial-gradient(at 0% 50%, #f6baba 0px, transparent 50%),
	radial-gradient(at 80% 50%, #fec9cb 0px, transparent 50%),
	radial-gradient(at 0% 100%, #fea4b0 0px, transparent 50%),
	radial-gradient(at 0% 0%, #f38d98 0px, transparent 50%);
}

.hero{
	width: 100%;
	min-height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}

.hero h1{
	font-weight: 45px;
	font-size: 500;
	margin-top: -50px;
	margin-bottom: 50px;
	color: #d95f76;
	
}

.hero h1 span{
	color: #ff2963;

}

textarea {
  width: 600px;
  height: 250px;
  background: rgba(255, 255, 255, 0.9); /* Adjust the alpha value (0.8) for opacity */
  color: #ff2963;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
}

textarea::placeholder {
  font-size: 16px;
  color: #ff2963;
}

::selection {
  background-color: #d95f76; 
  color: white; 
}


.row{
	width: 600px;
	display: flex;
	align-items: center;
	gap: 20px;
}

button{
	background: #ff2963;
	color: #fff;
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 35px;
	border: 0;
	outline: 0;
	cursor: pointer;
}

select{
	flex: 1;
	color: #ff2963;
	background: white;
	height: 50px;
	padding: 0 20px;
	outline: 0;
	border: 0;
	border-radius: 35px;
	appearance: none;
	background-image: url('dropdown.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position-x:  calc(100% - 20px);	
	background-position-y: 20px;
}

